// bootstrap
.card {
    margin-bottom: 1rem;
}
.card-header,
.card-footer {
    position: relative;
    display: flex;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    } 
    p {
        margin: 0;
        padding: 0.25rem 0;
    }
    & > * {
        display: inline-block;
        flex: 1;
        &:last-child:not(:first-child) {
            text-align: right; 
            flex: inherit;
        }
    }
}

.card-sm {
    border-radius: 3px;

    .card-header,
    .card-footer {
        padding: 0.5rem;

        .toolbox {
            right: 0.5rem;
            top: 0.5rem;
        }
    }
    .card-body {
        padding: 0.5rem;
    }

    @each $theme, $color in $theme-colors {
        &.card-#{$theme} {
            border-width: 0;
            border-color: $light;
            border-top: 3px solid $color;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);

            .card-header {
                border-bottom-color: $gray-200;
                background-color: #ffffff;
            }
            .card-footer {
                border-top-color: $gray-200;
                background-color: #ffffff;
            }
        }
    }
}

.card.card-mini {
    border-radius: 3px;
    background-color: $light;

    .card-header {
        padding: 0.5rem 1rem 0 1rem;
        border: none;
        font-size: 200%;
        font-weight: bold;
        background-color: transparent;
    }

    .card-body {
        padding: 0 1rem 1rem 1rem;
        border: none;
        background-color: transparent;
    }

    .card-footer {
        display: block;
        text-align: center;
        border: none;
        font-size: 90%;
        padding: 0.25em;
        background-color: rgba(0, 0, 0, 0.1);
    }
    a.card-footer {
        color: $body-color;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }
    }

    .card-icon {
        font-size: 4.5em;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        transition: all 0.5s ease 0s;
    }
    &:hover {
        .card-icon {
            font-size: 5em;
        }
    }

    @each $theme, $color in $theme-colors {
        &.card-#{$theme} {
            background-color: $color;
            border: none;
            @if ($theme != "light") {
                color: #ffffff;
                a.card-footer { 
                    color: #ffffff;
                }
            }
        }
    }
}