@import "mixins";

$side-width: 260px !default;
$side-width-sm: 200px !default;
$side-width-mini: 48px !default;
$header-height: 50px !default;
$transition-duration: 0.5s !default;

.layout-one {
    display: grid;
    & > main,
    & > .main {
        margin: auto;
    }
}

.layout-two {
    & > .side-left,
    & > .sidebar-main {
        width: $side-width;
        height: 100%;
        overflow: auto;

        & > footer,
        & > .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
    & > main,
    & > .main {
        position: absolute;
        z-index: 100;
        top: 0;
        margin-left: $side-width;
        width: calc(100% - #{$side-width});
        height: 100%;
        overflow: auto;
    }

    &.layout-two-sm {
        & > .side-left,
        & > .sdiebar-main {
            width: $side-width-sm;
        }
        & > main,
        & > .main {
            margin-left: $side-width-sm;
            width: calc(100% - #{$side-width-sm});
        }
    }
}

.layout-admin {
    position: relative;

    & > header,
    & > .header {
        height: $header-height;
    }

    & > footer,
    & > .footer {
        position: fixed;
        padding: 0.75rem 1rem;
        width: 100%;
        bottom: 0;
        margin-left: $side-width;
        z-index: 100;
        transition: all $transition-duration ease 0s;
        border-top: 1px solid $border-color;
        background-color: $light;
    }

    & > .side-left,
    & > .sidebar-main {
        position: absolute;
        z-index: 100;
        width: $side-width;
        height: calc(100% - #{$header-height});
        overflow: auto;
        transition: all $transition-duration ease 0s;
        border-right: 1px solid $border-color;

        .list-group-item {
            white-space: nowrap;
        }

        .show-mini {
            display: none;
            @include animate(fadeIn, $transition-duration);
        }

        .hidden-mini { 
            @include animate(fadeIn, $transition-duration);
        }

        & > footer,
        & > .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }

    & > .side-right,
    & > .sidebar-assist {
        width: $side-width;
        height: calc(100% - #{$header-height});
        position: absolute;
        z-index: 100;
        right: 0;
        bottom: 0;
        transition: all 0.5s ease 0s;

        &.hidden {
            transform: translateX(100%);
        }
    }

    & > main,
    & > .main {
        position: absolute;
        z-index: 100;
        top: $header-height;
        margin-left: $side-width;
        width: calc(100% - #{$side-width});
        height: calc(100% - #{$header-height});
        overflow: auto;
        transition: all $transition-duration ease 0s;

        .breadcrumb {
            border-radius: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        .content-header {
            position: relative;
            margin: 15px;
            h1 {
                margin: 0;
            }
            .toolbox {
                position: absolute;
                right: 0;
                bottom: 0.25rem;

                & > * {
                    margin-right: 0.25rem;
                    vertical-align: middle;
                    display: inline-block;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &.with-border {
                padding-bottom: 0.5rem;
                border-bottom: 1px solid $gray-400;
                .toolbox {
                    bottom: 0.75rem;
                }
            }
        }

        .content-body {
            margin: 15px;
            padding-bottom: 3rem;
        }
    }

    // sidebar mini
    &.sidebar-mini {
        & > .side-left,
        & > .sidebar-main {
            width: $side-width-mini;
            
            .hidden-mini {
                display: none;
                white-space: nowrap;
            } 
            .show-mini {
                display: inherit;
            }

            .list-group {
                .list-group-item {
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                }
            }
        }
        
        & > main,
        & > .main,
        & > footer,
        & > .footer {
            margin-left: $side-width-mini;
            width: calc(100% - #{$side-width-mini});
        }
    }

    // themes
    &.layout-admin-sm {
        & > .side-left,
        & > .sidebar-main {
            width: $side-width-sm;
        }

        & > footer,
        & > .footer,
        & > main,
        & > .main {
            margin-left: $side-width-sm;
            width: calc(100% - #{$side-width-sm});
        }
        & > .side-right,
        & > .sidebar-assist {
            width: $side-width-sm;
            &.hidden {
                right: -20 - $side-width-sm;
            }
        }

        &.sidebar-mini {
            & > .side-left,
            & > .sidebar-main {
                width: $side-width-mini;
            }
            & > main,
            & > .main,
            & > footer,
            & > .footer {
                margin-left: $side-width-mini;
                width: calc(100% - #{$side-width-mini});
            }
        }
    }
}

// override bootstrap
.layout-two,
.layout-admin {
    & > header,
    & > .header {
        .nav-item {
            .nav-link {
                height: $header-height;
                line-height: $header-height;
                padding: 0 1rem;
    
                .fa-2x {
                    position: relative;
                    top: 4px;
                }
            }

            &.show,
            &:hover,
            &:active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        } 
        .navbar,
        &.navbar {
            padding-top: 0;
            padding-bottom: 0;
            .navbar-brand {
                font-size: 22px;
            }
            .navbar-nav {
                .dropdown-menu {
                    margin: 0;
                    border: none;
                    border-radius: 0;
                    min-width: 100%;
                    box-shadow: 0 2px 10px rgba(0,0,0,.2);
                }
            }
        }

        .navbar-toggler {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        .navbar-collapse {
            z-index: 110;
        }
        .form-inline {
            margin: 0 1rem;
        }
    } 
}