.list-link {
    & > a {
        cursor: pointer;
        display: inline-block;
        margin: 0 3px;
    }

    & > a.link-btn {
        margin: -3px;
        margin-right: 0;
    }
}

.link-btn {
    display: inline-block;
    padding: 2px 5px 3px 5px;
    border-radius: $border-radius;
    &:hover {
        text-decoration: none;
    }
}

@mixin link-variant($theme, $color) {
    .link-btn-#{$theme} {
        &:hover,
        &:not([href]):not([tabindex]):focus, 
        &:not([href]):not([tabindex]):hover {
            background-color: $color;
            color: color-yiq($color);
        }
    }
}
@each $theme, $color in $theme-colors {
    @include link-variant($theme, $color);
}