@-webkit-keyframes kf-loading-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes kf-loading-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes kf-loading-bounce-rectangle {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes kf-loading-bounce-rectangle {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@-webkit-keyframes kf-loading-circle {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kf-loading-circle {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@mixin loading-variant($theme) {
    .loading { 
        &.loading-#{$theme} {
            &.loading-bounce,
            &.loading-bounce-rectangle {
                & > div {
                    background-color: theme-color($theme);
                }
            }
            &.loading-circle {
                .loading-circle-child {
                    &::before {
                        background-color: theme-color($theme);
                    }
                }
            }
        }
    }
}

.loading {
    margin: 0 auto;
    text-align: center;
    &.loading-bounce {
        width: 70px;
        &>div {
            width: 1em;
            height: 1em;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: kf-loading-bounce 1.4s infinite ease-in-out both;
            animation: kf-loading-bounce 1.4s infinite ease-in-out both;
        }
        @for $i from 1 through 2 {
            .child#{$i} {
                -webkit-animation-delay: -0.32s / $i;
                animation-delay: -0.32s / $i;
            }
        }
    }
    &.loading-bounce-rectangle {
        height: 40px;
        font-size: 10px;
        &>div {
            background-color: #333;
            height: 100%;
            width: 6px;
            margin-right: 0.5em;
            display: inline-block;
            -webkit-animation: kf-loading-bounce-rectangle 1.2s infinite ease-in-out;
            animation: kf-loading-bounce-rectangle 1.2s infinite ease-in-out;
        }
        @for $i from 2 through 5 {
            .child#{$i} {
                -webkit-animation-delay: (-1.2s + (($i - 1) / 10));
                animation-delay: (-1.2s + (($i - 1) / 10));
            }
        }
    }
    &.loading-circle {
        width: 40px;
        height: 40px;
        position: relative;
        .loading-circle-child {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            &::before {
                content: '';
                display: block;
                margin: 0 auto;
                width: 15%;
                height: 15%;
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: kf-loading-circle 1.2s infinite ease-in-out both;
                animation: kf-loading-circle 1.2s infinite ease-in-out both;
            }
        }
        @for $i from 2 through 12 {
            .child#{$i} {
                -webkit-transform: rotate(30deg * ($i - 1));
                -ms-transform: rotate(30deg * ($i - 1));
                transform: rotate(30deg * ($i - 1));
                &::before {
                    -webkit-animation-delay: (-1.2s + (($i - 1) / 10));
                    animation-delay: (-1.2s + (($i - 1) / 10));
                }
            }
        }
    }
}

@include loading-variant(primary);
@include loading-variant(danger);
@include loading-variant(info);
@include loading-variant(warning);
@include loading-variant(success);
@include loading-variant(secondary);
@include loading-variant(light);
@include loading-variant(dark);