body {
    &.has-overlay {
        overflow: hidden;
    }
    &>.overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($black, 0.5);
        z-index: 1071;
    }
}